<ion-content class="container">
    <div class="item header">
      <div class="header__img1">
        <img src="assets/Puntos-arriba.png" width="100%" height="110px" >
        <div class="header__img2">
          <img src="assets/Triangulo.png">
          </div>
          <h1 class="header__title">Tus Reservas</h1>
      <div class="header__menu">
        <img src="assets/Menu.png" alt="">
      </div>
      </div>
    </div>
    <div class="item slider">
      <div class="img">
        <img src="assets/Reapertura_Gimnasios_1.png" >
      </div>
    </div>
    <div class="item contenido">
      <div class="item">
          <ion-button class="contenido__button">
            Adicionar
          </ion-button>
      </div>
      
      <div class="activas">
        <h1 class="activas__title">Reservas Activas</h1>
        <div class="activas__cards " >
        <div class="activas__card"*ngFor="let item of products" >
          <img [src]="item.image" width="100%" height="100%">
        </div>
        </div>
      </div>
      <div class="proximas">
        <h1 class="proximas__title">Próximas Reservas</h1>
        <div class="proximas__cards">
        <div class="proximas__card"*ngFor="let item of products" >
          <img [src]="item.image" width="100%" height="100%">
        </div>
        </div>
      </div>
      <div class="ultimas">
        <h1 class="ultimas__title">Últimas 5 Reservas Tomadas</h1>
        <div class="ultimas__cards">
        <div class="ultimas__card"*ngFor="let item of ultimas" >
          <img [src]="item.image" width="100%" height="100%">
        </div>
        </div>
      </div>
    </div>
    <div class="item footer">
      <div class="footer__img1">
        <img src="assets/Puntos-abajo.png">
        <div class="footer__img2">
           <img src="assets/Back.png" alt="">
        </div>
      </div>
    </div>
</ion-content>
