<div class="container">
   <div class="header">
      <div class="header__img1">
         <img src="assets/Puntos-arriba.png" alt="">
         <div class="header__img2">
         <img src="assets/Triangulo.png" alt="">
         </div>
         <h1 class="header__title">Regístrate</h1>
      </div>
      
   </div>

   <ion-form class="form">
      <ion-input type="text" class="form__input" placeholder="Nombre"></ion-input>
      <ion-input type="text" class="form__input" placeholder="Apellido"></ion-input>
      <ion-input type="email" class="form__input" placeholder="Email"></ion-input>
      <ion-item class="form__input">
         <ion-label>Género</ion-label>
         <ion-select interface="popover">
           <ion-select-option value="brown">Femenino</ion-select-option>
           <ion-select-option value="blonde">Masculino</ion-select-option>
         </ion-select>
       </ion-item>
      <ion-input type="text" class="form__input" placeholder="Fecha de Nacimiento"></ion-input>
      <ion-input type="password" class="form__input" placeholder="Contraseña"></ion-input>
      <ion-input type="password" class="form__input" placeholder="Repite Contraseña"></ion-input>
       <p class="form__label">Al crear una nueva cuenta en link aceptas el manejo de tus <u> DATOS PERSONALES
         TERMINOS y CONDICIONES</u> publicados en nuestra pagina
       </p>
       <ion-input type="input" class="form__input-button" placeholder="Continuar"></ion-input>
    </ion-form>
    <div class="footer">
       <div class="footer__img1">
         <img src="assets/Puntos-abajo.png" alt="">
         <div class="footer__img2">
            <img src="assets/Back.png" alt="">
         </div>
       </div>
    </div>
</div>
