/* Libraries, settings and vars */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/FiraSans-Thin.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  src: url("../assets/fonts/FiraSans-ThinItalic.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/FiraSans-ExtraLight.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/FiraSans-ExtraLightItalic.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/FiraSans-Light.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/FiraSans-LightItalic.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/FiraSans-Regular.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/FiraSans-Italic.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/FiraSans-Medium.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/FiraSans-MediumItalic.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/FiraSans-SemiBold.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/FiraSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/FiraSans-Bold.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/FiraSans-BoldItalic.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/FiraSans-ExtraBold.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/FiraSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/FiraSans-Black.ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/FiraSans-BlackItalic.ttf");
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #00e0e2;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  /** secondary **/
  --ion-color-secondary: #1a1a38;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  /* button colors */
  --ion-btn-dark: #5a6978;
  /* font-colors */
  --ion-base-font-color: #8190a5;
  --ion-link-dark-color: #343f4b;
  /* fonts */
  --ion-base-font: "Fira Sans";
  --ion-base-font-weight: 400;
  /* sizes */
  --ion-32px: 32px;
  --ion-16px: 16px;
  --ion-10px: 10px;
  --ion-100: 100%;
  /* base tags */
}

:root body {
  font-family: var(--ion-base-font);
}

/* Popover menu width */
ion-popover ion-backdrop {
  opacity: 0.5 !important;
}

ion-popover .popover-wrapper .popover-content {
  width: 60vw;
  border-radius: 2px;
  max-width: 500px;
}

.popover-arrow.sc-ion-popover-ios {
  width: 0 !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/*# sourceMappingURL=variables.css.map */