<ion-content class="location ion-text-center ion-padding">
  <h2 class="location__title">Selecciona tu ubicación</h2>
  <p class="location__text">Por favor, indicanos en donde te encuentras</p>
  <ion-icon class="location__icon-location" name="location"></ion-icon>
  <ion-input class="location__country" placeholder="País"></ion-input>
  <ion-input class="location__city" placeholder="Ciudad"></ion-input>
  <ion-icon class="location__icon-back" (click)="close()" name="return-down-back-outline"></ion-icon>
</ion-content>