<ion-content class="container">
  <div class="item header">
    <div class="header__img1">
      <img src="assets/Puntos-arriba.png">
      <div class="header__img2">
        <img src="assets/Triangulo.png">
      </div> 
    </div>
  </div>
  <div class="contenido">
  <div class="contenido__logo">
    <img src="assets/LogoBlanco.png" width="151px" height="146px">
  </div>
  <div class="contenido__title1">
     <h1>Tu Reserva en</h1>
  </div>
  <div class="contenido__img">
     <img src="assets/images.png" width="90px" height="58px">
  </div>
  <div class="contenido__title2">
    <h1>Parroquia La Maria</h1>
  </div>
  <div class="contenido__title3">
      <h1>fue Liberada exitosamente</h1>
  </div>
  <div class="contenido__verificado">
    <img src="assets/Raster.png" width="70px" height="70px"> 
  </div>
  <div class="">
    <ion-button>Continuar</ion-button>
  </div>
  </div>
  <div class="footer">
    <div class="footer__img1">
      <img src="assets/Puntos-abajo.png">
    </div>
  </div>
</ion-content>
