.container{
    display:grid;
    grid-template: 110px  1fr 110px  /  1fr;
    height: 100vh;
    grid-template-areas:"header header"
                        "contenido contenido"
                        "footer footer" ;                      
}
.header{
  grid-area:header;
  width: 100%;
  &__img1 img{
    width: 100%;
    vertical-align: top;
  }
  &__img2 img{
    position: absolute;
    top:0;
    right:0;
    width: 25%;
  }
  &__menu{
      width: 5%;
      top:26px;
      right:9px;
      position: absolute;
  }
  &__title{
      color:var(--ion-color-primary);
      top:44px;
      left:22px;
      position: absolute;
  }
}
.contenido{
    width:100%; 
    &__logo{
        margin-left:31%;
        margin-bottom: 6px;
    }  
    &__title1 h1{
        color:var( --ion-btn-dark);
        font-size:var(--ion-16px);
        font-family: var(--ion-base-font);
         margin-top:10px;
    }
    &__title2 h1{
        font-size:20px;
        font-family: var(--ion-base-font);
        margin-top:8px;
        margin-bottom:10px;
    }
    &__title3 h1{
        color:var( --ion-btn-dark);
        font-size:var(--ion-16px);
        font-family: var(--ion-base-font);
    }
    &__img{
        margin-left:40%;
    }
    &__verificado{
        margin-left:42%;
        margin-bottom: 70px;
    }
}
.footer{
    grid-area: footer;
    &__img1{
      width: 100%;
     
    }
  }

h1{
   
    text-align: center;
 }
 ion-button{
     width:80%;
     margin-left:10%;
     height:51px;
 }